@model IEnumerable<AirlineReservationsSystem.Domain.Entities.TravelRoute>

@{
    ViewData["Title"] = "Travel Routes";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Route</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Route ID</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Estimated Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
            <tr>
                <td>@route.TravelRouteId</td>
                <td>@route.Origin</td>
                <td>@route.Destination</td>
                <td>@route.EstimatedTime</td>

            </tr>
        }
    </tbody>
</table>
